<ul>

    <li>
        @Html.ActionLink("Anasayfa", "HomePage", "Home")
    </li>@*Anasayfa*@

    <li>
        @Html.ActionLink("Yazılım", "Software", "Software")
    </li>@*Yazılım*@

    <li>
        @Html.ActionLink("Eğitim", "Lessons","Lessons")
    </li> @*Eğitim*@

    <li>
        @Html.ActionLink("Hakkımızda", "About", "Home")
    </li>@*Hakkımızda*@

    <li>
        @Html.ActionLink("İletişim", "Contact", "Home")
    </li>@*İletişim*@

</ul> @*Menüler*@
